body {
  margin: 0px;
}

#main {
  font-family: Lato,sans-serif;
  background-image: url("./img/stars-background.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


#main-container {
  max-width: 1000px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 25px;
  align-items: center;
}

.choices {
  max-width: 1000px;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 40px;
  row-gap: 10px;
  margin-bottom: 20px;
}

.text-background {
  margin-top: 20px;
  background: linear-gradient(to bottom, #000099 0%, #0756ce 100%);
  border: 8px gold solid;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

h1 {
  margin: 0px;
  font-size: 35px;
  color: white;
  text-align: center;
}

button, input {
  font-size: 30px;
  font-family: Lato,sans-serif;
  border-radius: 10px;
  min-width: 200px;
  background-color: rgb(250, 236, 236);
  text-align: center;
  border: 5px solid rgb(97, 97, 221);
  transition: 200ms;
}

button:hover, input:focus {
  background-color: white;
  transform: scale(1.1);
}

p {
  font-size: 25px;
  color: white;
  text-align: center;
  margin: 0px;
}